In [1]:
import pandas as pd
import json as json
import numpy as np

from elasticsearch import Elasticsearch
from elasticsearch import helpers

from pandas.io.json import json_normalize

In [2]:
def connect_elasticsearch():
    es = Elasticsearch(['https://silabane:PVp5CcJfhoeo6sL2XJkVk8PL@44427d2de.cyberscore.com:443'])
    return es

In [3]:
def retrieve_data(es, index_name, query, object_filter):
    result_set = es.search(index=index_name, 
                           body=query, 
                           filter_path=object_filter)
    
    return result_set

In [4]:
es = connect_elasticsearch()

print(es.ping())

False

In [107]:
query_string = {
    "query": { 
        "bool": {
            "must": [
                { "range": { "@timestamp": {"gte": "2019-09-05T04:00:00.000Z", 
                                            "lt":"2019-09-05T07:00:00.000Z" }}},
                { "match": { "network.transport" : "udp"}}
            ]
        }
    }, 
    "from" : 0, 
    "size" : 10000,
    "aggs" : {
        "connection_per_1s" : {
            "date_histogram" : {
                "field" : "@timestamp",
                "fixed_interval" : "1m"
            },
            "aggs" : {
                "source_ip" : {
                    "terms" : {
                        "field" : "source.ip",
                        "size" : 100
                    },
                    "aggs": {
                      "destination_ip": {
                        "terms": {
                            "field": "destination.ip",
                            "order": {
                                "port_count_distinct": "desc"
                            }
                        },
                        "aggs": {
                            "port_count_distinct": {
                                "cardinality": {
                                    "field": "destination.port"
                                }
                            }
                        }
                      }
                    }
                }
            }
        }
    }
}

object_filter = ['hits.hits._source.@timestamp', 
                 'hits.hits._source.agent.hostname',
                 'hits.hits._source.source.ip',
                 'hits.hits._source.destination.ip',
#                  'hits.hits._source.domain',
#                  'hits.hits._source.sub_domain',
#                  'hits.hits._source.dns.question.etld_plus_one',
                 'aggregations'
                ]
result = retrieve_data(es, 'packetbeat-*', query_string, object_filter)

In [108]:
flat_aggregate = json_normalize(result['aggregations']['connection_per_1s']['buckets'])
# flat_result = json_normalize(result['hits']['hits'])

In [109]:
flat_aggregate.head()

,doc_count,key,key_as_string,source_ip.buckets,source_ip.doc_count_error_upper_bound,source_ip.sum_other_doc_count
0,13018,1567656000000,2019-09-05T04:00:00.000Z,"[{'key': '10.3.8.58', 'doc_count': 9201, 'dest...",0,0
1,13067,1567656060000,2019-09-05T04:01:00.000Z,"[{'key': '10.3.8.58', 'doc_count': 9180, 'dest...",0,0
2,13051,1567656120000,2019-09-05T04:02:00.000Z,"[{'key': '10.3.8.58', 'doc_count': 9047, 'dest...",0,0
3,13471,1567656180000,2019-09-05T04:03:00.000Z,"[{'key': '10.3.8.58', 'doc_count': 9306, 'dest...",0,0
4,12831,1567656240000,2019-09-05T04:04:00.000Z,"[{'key': '10.3.8.58', 'doc_count': 8837, 'dest...",0,0

In [110]:
master_dataframe = pd.DataFrame(columns=['time_bucket', 'source_ip', 'source_ip_count', 
                                         'destination_ip', 'destination_ip_count', 'destination_ip_distinct'])

In [111]:
for time1 in range(0, len(flat_aggregate)):
    current_df1 = json_normalize(flat_aggregate.iloc[time1, 3])
    for source_idx in range(0, len(current_df1)):
        current_df2 = json_normalize(current_df1['destination_ip.buckets'][source_idx])
        for dest_idx in range(0, len(current_df2)):
            master_idx = len(master_dataframe)
            master_dataframe.loc[master_idx, 'time_bucket'] = flat_aggregate.loc[time1, 'key_as_string']
            master_dataframe.loc[master_idx, 'source_ip'] = current_df1.loc[source_idx, 'key']
            master_dataframe.loc[master_idx, 'source_ip_count'] = current_df1.loc[source_idx, 'doc_count']
            master_dataframe.loc[master_idx, 'destination_ip'] = current_df2.loc[dest_idx, 'key']
            master_dataframe.loc[master_idx, 'destination_ip_count'] = current_df2.loc[dest_idx, 'doc_count']
            master_dataframe.loc[master_idx, 'destination_ip_distinct'] = current_df2.loc[dest_idx, 'port_count_distinct.value']

In [112]:
master_dataframe.head()

,time_bucket,source_ip,source_ip_count,destination_ip,destination_ip_count,destination_ip_distinct
0,2019-09-05T04:00:00.000Z,10.3.8.58,9201,10.3.6.5,9201,1
1,2019-09-05T04:00:00.000Z,10.3.8.54,492,10.3.6.5,480,1
2,2019-09-05T04:00:00.000Z,10.3.8.54,492,10.3.8.58,12,1
3,2019-09-05T04:00:00.000Z,10.3.8.124,488,10.3.6.5,476,1
4,2019-09-05T04:00:00.000Z,10.3.8.124,488,10.3.8.58,12,1

## This below code is going to be a looping over all the source and destination ip

In [113]:
master_dataframe.loc[(master_dataframe['destination_ip'] == '91.189.89.199') & (master_dataframe['source_ip'] == '10.3.8.44')]

,time_bucket,source_ip,source_ip_count,destination_ip,destination_ip_count,destination_ip_distinct
183,2019-09-05T04:06:00.000Z,10.3.8.44,218,91.189.89.199,3,1
207,2019-09-05T04:07:00.000Z,10.3.8.44,211,91.189.89.199,2,1
1122,2019-09-05T04:40:00.000Z,10.3.8.44,208,91.189.89.199,2,1
1150,2019-09-05T04:41:00.000Z,10.3.8.44,210,91.189.89.199,2,1
2029,2019-09-05T05:14:00.000Z,10.3.8.44,230,91.189.89.199,1,1
2064,2019-09-05T05:15:00.000Z,10.3.8.44,232,91.189.89.199,5,1
3006,2019-09-05T05:49:00.000Z,10.3.8.44,214,91.189.89.199,5,1